.sub_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 30px;
    color: var(--color-border-main);
}

.main_top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_text{
    font-weight: bold;
    color: var(--color-primary-text);
    font-size: 64px;
}

.main_img{
   height: 700px;
   width:  700px;
}

// Main SCSS file

// Main SCSS file

.main_img {
    animation: shake-vertical 5s ease-in-out infinite;
  }
  
  @keyframes shake-vertical {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px); /* Move up */
    }
    50% {
      transform: translateY(5px);  /* Move down */
    }
    75% {
      transform: translateY(-5px); /* Move up */
    }
    100% {
      transform: translateY(0);    /* Back to the original position */
    }
  }
  
