:root {
    --color-primary: #17181D;
    --color-secondary: #0014F4;
    --color-primary-text: #FFFFFF;
    --color-secondary-text: #17181D;

    --color-border-main: #383A41;


    --color-black: rgb(0, 0, 0);
    --color-white: rgba(255, 255, 255, 1);
}
