.wrap {
    color: var(--color-primary-text);
    display: grid;
    height: 100px;
    grid-template-columns: repeat(8, 1fr); /* Creates 8 equal columns */
    font-weight: 100;
    position: relative;
  }
  
  .logo {
    grid-column: span 2; /* Logo spans 2 columns */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Optional: Adjust font size for the logo */
    color: var(--color-primary-text);
  }
  
  .contact_us {
    background-color: var(--color-secondary) !important;
  }
  
  .navbar_text {
    border: 1px solid var(--color-border-main);
    background: var(--color-primary);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth background change */
  }
  
  .navbar_text.active {
    color: var(--color-secondary) !important; /* Change to red when clicked */
    background-color: var(--color-primary-text);
  }
  
  /* Hamburger Menu */
  .hamburger {
    position: fixed; /* Fixed position at the top */
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
    display: none; /* Hidden by default, shown on mobile */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 8;
    transition: transform 0.3s ease;
  }
  
  /* For small screens */
  @media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--color-primary);
      height: 100vh;
      transform: translateX(-100%);
      padding: 10px 0;
    }
  
    .navbarOpen {
      transform: translateX(0);
    }
  
    .hamburger {
      display: block; /* Show the hamburger icon on mobile */
      position: fixed; /* Keep it fixed at the top */
      top: 20px;
      left: 20px;
      font-size: 30px;
      cursor: pointer;
      z-index: 1000; /* Ensure it's above other elements */
    }
  
    .navbar_text {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid var(--color-border-main);
    }
  }
  